body{
  margin: 0;
  background-color: lightblue;
  font-family: sans-serif;
}

main{
  width: 80%;
  margin: auto;
}

p{
  margin: 0;
}

.publication{
  padding: 30px 50px;
  background-color: white;
  border-radius: 5px;
}

.Facebook .row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 15px;
}

.Facebook .miniature{
  width: 40px;
  height: 40px;
  background-color: red;
}

.Facebook .column{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.Facebook .pagename{
  color: blue;
  font-weight: bold;
}

.Facebook .date{
  color: lightgrey;
  font-size: 12px;
}

.Facebook .text{
  text-align: justify;
}

.Facebook .seemore{
  color: grey;
}

.header{
  width: 100%;
  border-radius: 5px;
  padding: 2px 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.Facebook .header{
  background-color: darkblue;
}

.Facebook .F{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  padding-right: 2px;
  padding-left: 3px;
}

.Instagram .header{
  background-color: white;
}

.Instagram .Insta{
  font-weight: bolder;
  font-size: 30px;
  padding-right: 2px;
  padding-left: 3px;
}

.Instagram .publications{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Instagram .image{
  width: 32.5%;
  height: 165px;
  background-color: white;
  border-radius: 5px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Facebook, .Instagram{
  width: 48%;
  margin: 0;
}
